.flex {
   display: flex;
}
.wrapper {
   margin: 20px 0 0 30px;
   align-items: center;
}
.margen {
   margin-left: 30px;
}
.flag{ 
   background: url('/img/shield.svg') no-repeat center;
}
#buttonGoInit {
   border: 2px solid transparent; 
   background-color: aqua;
}
#buttonGoInit:hover {
   border: 2px solid transparent; 
   background-color: #FF7E00;
}
#sapperGo {
   margin-bottom: 10px;
   border: 2px solid aqua; 
}
#sapperGo:hover {
   border: 2px solid #FF7E00; 
}
#sapperGo:focus {
   outline: none;
   border: 2px solid #FF7E00; 
}
.flagToAppear{
   display: none;
   flex-direction: row;
   align-items: center;
}
.flagToAppear::after{
   content: '';
   background: url('/img/shield.svg') no-repeat;
   margin-left: 10px;
   width: 50px;
   height: 50px;
}
